<div class="row-flex">
  <ng-container *ngrxLet="currentEditingInventory$ as currentEditing">
    <div *ngIf="(isInventoryFormOpen$ | async) || currentEditing" class="card">
      <div class="header">
        <h3>
          {{ currentEditing ? "ویرایش انبار" : "انبار جدید" }}
        </h3>

        <img
          alt="X"
          src="./assets/media/icons/duotune/general/gen040.svg"
          (click)="closeForm()"
        />
      </div>
      <form
        [formGroup]="inventoryCreationForm"
        (ngSubmit)="currentEditing ? onSubmitEdit() : onSubmitCreate()"
        #form
      >
        <h5>نام انبار</h5>

        <input
          type="text"
          pInputText
          placeholder="مثال: انبار کالاهای اولیه"
          formControlName="name"
          class="input"
          tooltipPosition="left"
          (ngModelChange)="onChange('name', $event)"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (isSubmitted && name && name.errors) ||
              (name && name.invalid && (name.dirty || name.touched))
          }"
        />
        <ng-container
          *ngIf="
            (isSubmitted && name && name.errors) ||
            (name && name.invalid && (name.dirty || name.touched))
          "
        >
          <app-form-validation-error
            error="نام انبار نمی تواند خالی باشد"
          ></app-form-validation-error>
        </ng-container>
        <h5>دسته بندی</h5>
        <p-dropdown
          [options]="(inventoryCategories$ | async)!"
          optionLabel="name"
          formControlName="category"
          [placeholder]="
            (isInventoryCategoriesLoading$ | async)
              ? 'در حال دریافت اطلاعات...'
              : 'یک دسته بندی انتخاب کنید'
          "
          [disabled]="(isInventoryCategoriesLoading$ | async) === true"
          (ngModelChange)="onChange('category', $event)"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (isSubmitted && category && category.errors) ||
              (category &&
                category.invalid &&
                (category.dirty || category.touched))
          }"
          emptyMessage="هیچ دسته بندی یافت نشد"
        ></p-dropdown>

        <ng-container
          *ngIf="
            (isSubmitted && category && category.errors) ||
            (category &&
              category.invalid &&
              (category.dirty || category.touched))
          "
        >
          <app-form-validation-error
            error="لطفا یک دسته بندی انتخاب کنید"
          ></app-form-validation-error>
        </ng-container>
        <h5>فعال</h5>
        <p-inputSwitch
          formControlName="status"
          (ngModelChange)="onChange('status', $event)"
        ></p-inputSwitch>
        <h5>دسترسی کاربران</h5>
        <p-multiSelect
          [options]="(inventoryUsers$ | async)!"
          [defaultLabel]="
            (isInventoryUsersLoading$ | async) ? 'در حال دریافت اطلاعات...' : ''
          "
          optionLabel="name"
          display="chip"
          [disabled]="(isInventoryUsersLoading$ | async) === true"
          formControlName="users"
          (ngModelChange)="onChange('users', $event)"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (isSubmitted && users && users.errors) ||
              (users && users.invalid && (users.dirty || users.touched))
          }"
          emptyMessage="هیچ کاربری یافت نشد"
          emptyFilterMessage="هیچ کاربری یافت نشد"
        ></p-multiSelect>
        <ng-container
          *ngIf="
            (isSubmitted && users && users.errors) ||
            (users && users.invalid && (users.dirty || users.touched))
          "
        >
          <app-form-validation-error
            error="حداقل یک کاربر انتخاب کنید"
          ></app-form-validation-error>
        </ng-container>
        <p-button
          [label]="currentEditing ? 'ویرایش انبار' : 'ایجاد انبار'"
          [loading]="false"
          type="submit"
          [disabled]="!isRowEdited(currentEditing)"
          [pTooltip]="
            !isRowEdited(currentEditing)
              ? 'لطفا حداقل یک فیلد را تغییر دهید.'
              : ''
          "
          tooltipPosition="left"
        ></p-button>
      </form>
    </div>
  </ng-container>

  <app-grid-style01
    [rowInputData]="rowData$ | async"
    [colInputDefs]="colDefs"
    [pageName]="'inventory'"
    [isInventoryCategoryLoading]="isInventoryCategoriesLoading$ | async"
    [isInventoryUsersLoading]="isInventoryUsersLoading$ | async"
  ></app-grid-style01>
</div>
<p-toast position="top-left"></p-toast>
