.row-flex {
  display: flex;
  gap: 1.5rem;
  img {
    cursor: pointer;
  }
}

.card {
  padding: 0.5rem 1rem 1rem 1rem;
  width: 30rem;
  height: 100%;
}

h5 {
  padding: 1rem 0 0.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 0.5rem 0;
  align-items: center;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}
:host ::ng-deep .p-multiselect {
  width: 100%;
}
p-button {
  margin-right: auto;
  margin-top: 2rem;
}

app-grid-style01 {
  width: 100%;
}

:host ::ng-deep .p-multiselect-header {
  padding: 1rem 0;
  gap: 1rem;
}

:host ::ng-deep .p-multiselect-token-icon {
  margin-right: 0.5rem;
}

:host ::ng-deep .p-multiselect-item {
  gap: 0.5rem;
}

.input {
  width: 100%;
}

button {
  min-width: 10rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 960px) {
  button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
:host ::ng-deep .p-toast-summary {
  margin-inline-start: 0.5rem;
  margin-top: 0.2rem;
}
