<div class="row-flex">
  <div *ngIf="isForm$ | async" class="card">
    <div class="header">
      <h3>انبار جدید</h3>
      <img
        alt="Logo"
        src="./assets/media/icons/duotune/general/gen040.svg"
        (click)="closeForm()"
      />
    </div>
    <h5>نام انبار</h5>
    <input type="text" pInputText placeholder="نام انبار" />
    <h5>دسته بندی</h5>
    <p-dropdown
      [options]="categories"
      [(ngModel)]="selectedCategories"
      optionLabel="name"
    ></p-dropdown>
    <h5>فعال</h5>
    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    <h5>دسترسی کاربران</h5>
    <p-multiSelect
      [options]="users"
      [(ngModel)]="selectedUsers"
      defaultLabel="۰ کاربر انتخاب شده"
      optionLabel="name"
      display="chip"
    ></p-multiSelect>
    <p-button label="ایجاد انبار" [loading]="false"></p-button>
  </div>
  <app-grid-style01
    [rowInputData$]="rowData$"
    [colInputDefs]="colDefs"
    [tableName]="'inventory'"
  ></app-grid-style01>
</div>
