<div class="table-controls">
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="فیلتر..."
      (input)="onFilterTextBoxChanged()"
      id="filter-text-box"
      type="text"
      class="table-search-input"
    />
  </span>
  <button
    pButton
    type="button"
    label="به روزرسانی"
    class="p-button-outlined"
    icon="pi pi-refresh"
    iconPos="right"
    (click)="refreshPage()"
    [loading]="
      (isInventoriesLoading$ | async)! ||
      isInventoryUsersLoading! ||
      isInventoryCategoryLoading!
    "
  ></button>
  <button
    pButton
    type="button"
    [label]="
      (inventorySelectedRows$ | async)!.length === 1
        ? 'ویرایش ردیف'
        : 'ویرایش گروهی'
    "
    class="p-button-outlined"
    (click)="onEdit()"
    icon="pi pi-file-edit"
    iconPos="right"
    *ngIf="(inventorySelectedRows$ | async)?.length"
    [loading]="
      (isInventoriesLoading$ | async)! ||
      isInventoryUsersLoading! ||
      isInventoryCategoryLoading!
    "
  ></button>
  <p-button
    label="انبار جدید"
    icon="pi pi-plus-circle"
    iconPos="right"
    (onClick)="openCreationForm()"
  ></p-button>
</div>

<ag-grid-angular
  class="ag-theme-alpine card"
  style="
    height: 76vh;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  "
  [rowData]="rowInputData"
  [columnDefs]="colInputDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (cellClicked)="onCellClicked($event)"
  [enableRtl]="true"
  [pagination]="true"
  [localeText]="langFa"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
  [tooltipShowDelay]="tooltipShowDelay"
  [tooltipMouseTrack]="true"
  [sideBar]="sideBar"
  (selectionChanged)="onSelectionChanged($event)"
></ag-grid-angular>
