<div class="table-controls">
  <span class="p-input-icon-right">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="فیلتر..."
      [pTooltip]="'فیلتر جدول'"
      (input)="onFilterTextBoxChanged()"
      id="filter-text-box"
      type="text"
      class="table-search-input"
    />
  </span>
  <p-button
    icon="pi pi-refresh"
    (click)="refreshPage()"
    [pTooltip]="'به روزرسانی صفحه'"
    [loading]="
      (isInventoriesLoading$ | async)! ||
      isInventoryUsersLoading! ||
      isInventoryCategoryLoading!
    "
  ></p-button>

  <div
    [pTooltip]="
      selectedRowsCount < 2
        ? 'برای حذف گروهی آیتم ها، حداقل دو آیتم را از جدول پایین انتخاب کنید.'
        : ''
    "
  >
    <button
      pButton
      type="button"
      class="p-button-danger"
      (click)="onDelete()"
      icon="pi pi-trash"
      [pTooltip]="'حذف گروهی'"
      iconPos="right"
      [disabled]="!(selectedRowsCount > 1)"
    ></button>
  </div>
  <div
    [pTooltip]="
      selectedRowsCount < 2
        ? 'برای ویرایش گروهی آیتم ها، حداقل دو آیتم را از جدول پایین انتخاب کنید.'
        : ''
    "
  >
    <button
      pButton
      type="button"
      class="p-button-warning"
      (click)="onEdit()"
      pTooltip="ویرایش گروهی"
      icon="pi pi-file-edit"
      iconPos="right"
      [disabled]="
        !(selectedRowsCount > 1) ||
        (selectedRowsCount === 1 && (inventoryFormState$ | async) === 'edit')
      "
    ></button>
  </div>

  <button
    pButton
    label="جدید"
    icon="pi pi-plus-circle"
    iconPos="right"
    [pTooltip]="'انبار جدید'"
    (click)="openCreationForm()"
    class="p-button-success"
  ></button>
</div>
<ag-grid-angular
  class="ag-theme-alpine card"
  style="
    height: 76vh;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  "
  [rowData]="rowInputData"
  [columnDefs]="colInputDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (cellClicked)="onCellClicked($event)"
  [enableRtl]="true"
  [pagination]="true"
  [localeText]="langFa"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
  [tooltipShowDelay]="tooltipShowDelay"
  [tooltipMouseTrack]="true"
  [sideBar]="sideBar"
  (selectionChanged)="onSelectionChanged($event)"
  (rowSelected)="onRowSelected()"
></ag-grid-angular>
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
