<!-- Popups-Start -->

<p-dialog
  header="خطا"
  [(visible)]="isErrorModal"
  [modal]="true"
  [draggable]="true"
  [resizable]="true"
>
  {{ errorModalText }}
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="isErrorModal = false"
      label="باشه"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-toast position="top-left"></p-toast>
<!-- Popups-End -->

<div class="i-container">
  <ng-container *ngrxLet="currentEditingProduct$ as currentEditing">
    <!-- Form-Start -->
    <div
      *ngIf="(isProductFormOpen$ | async) || currentEditing"
      class="card form"
    >
      <div class="header">
        <div class="header-right">
          <h3>
            {{ currentEditing ? "ویرایش کالا / خدمت" : "کالا / خدمت جدید" }}
          </h3>
          <div
            class="redo"
            [pTooltip]="'باز نشاندن فرم'"
            tooltipPosition="top"
            (click)="onAgain()"
          >
            <p>مجدد</p>
            <i class="pi pi-refresh"></i>
          </div>
        </div>
        <i
          (click)="closeForm()"
          class="pi pi-times"
          [pTooltip]="'بستن فرم'"
          tooltipPosition="top"
        ></i>
      </div>
      <form
        [formGroup]="productCreationForm"
        (ngSubmit)="
          currentEditing
            ? onSubmitEdit(name?.value, currentEditing.name)
            : onSubmitCreate(name?.value)
        "
        #form
      >
        <app-stepper></app-stepper>
        <!-- Name-Start -->
        <h5>نام کالا / خدمت</h5>
        <input
          type="text"
          pInputText
          placeholder="مثال: هات داگ"
          formControlName="name"
          class="input"
          tooltipPosition="left"
          (ngModelChange)="onChange('name', $event)"
          [ngClass]="{
            'ng-invalid ng-dirty': isNameFieldError
          }"
        />
        <ng-container *ngIf="isNameFieldError">
          <app-form-validation-error
            error="نام کالا / خدمت نمی تواند خالی باشد"
          ></app-form-validation-error>
        </ng-container>
        <!-- Name-End -->
        <!-- Status-Start -->
        <div class="title-container">
          <h5>فعال</h5>
          <i
            class="pi pi-question-circle"
            [pTooltip]="'وضعیت کالا / خدمت'"
            tooltipPosition="left"
          ></i>
        </div>
        <div>
          <p-inputSwitch
            formControlName="status"
            trueValue="فعال"
            falseValue="غیر فعال"
            (ngModelChange)="onChange('status', $event)"
          ></p-inputSwitch>
        </div>
        <!-- Status-End -->

        <p-button
          [label]="currentEditing ? 'ویرایش کالا / خدمت' : 'ایجاد کالا / خدمت'"
          [loading]="false"
          type="submit"
          [disabled]="!isRowEdited(currentEditing)"
          [pTooltip]="
            !isRowEdited(currentEditing)
              ? 'لطفا حداقل یک فیلد را تغییر دهید.'
              : ''
          "
          tooltipPosition="left"
        ></p-button>
      </form>
    </div>
    <!-- Form-End -->
  </ng-container>

  <app-grid-style02
    class="table-container"
    [rowInputData]="products$ | async"
    [colInputDefs]="colDefs"
    [detailCellRendererParams]="detailCellRendererParams"
    [pageName]="'unit'"
    [isLoading]="isProductsLoading$ | async"
    [columnKeys]="['name', 'status']"
    [gridSelectedRows]="productSelectedRows$ | async"
    [isGridLoading$]="isProductsLoading$"
    [currentEditingRow$]="currentEditingProduct$"
    [openFormMethod]="productActions.openProductForm"
    [refreshPageMethods]="[productActions.getProducts]"
    [setCurrentEditingMethod]="productActions.setCurrentEditingProduct"
    [onSelectionChangedMethod]="productActions.setProductSelectedRows"
    [pageSelectedRowsSelectorMethod]="productSelectedRowsSelectorMethod"
    [pageSearchFilter]="productSearchFilter$"
    [setPageSearchFilterMethod]="setProductSearchFilterMethod"
  ></app-grid-style02>
</div>
