<form class="container" [formGroup]="actionsForm" #form>
  <button
    pButton
    pRipple
    type="button"
    class="p-button-rounded p-button-danger p-button-outlined"
    icon="pi pi-trash"
    (click)="onDelete()"
    pTooltip="حذف آیتم"
  ></button>

  <p-toggleButton
    [ngModel]="this.data.name === (currentEditingInventory$ | async)?.name"
    onIcon="pi pi-file-edit"
    class="p-button-rounded p-button-warning"
    offIcon="pi pi-file-edit"
    pTooltip="ویرایش آیتم"
    (click)="onEdit()"
    formControlName="editToggle"
  ></p-toggleButton>
</form>
