<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Dashboard -->
    <div class="menu-item">
      <!-- <a
        class="menu-link without-sub"
        routerLink="/dashboard"
        routerLinkActive="active"
        ><span class="menu-icon">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
            class="svg-icon svg-icon-2"
          ></span>
        </span>
        <span class="menu-title">صفحه اصلی</span></a
      > -->
      <a class="menu-link without-sub"
        ><span class="menu-icon">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
            class="svg-icon svg-icon-2"
          ></span>
        </span>
        <span class="menu-title">صفحه اصلی</span></a
      >

      <!-- Separator -->
      <div class="menu-item">
        <div class="menu-content pt-8 pb-2">
          <span class="menu-section text-muted text-uppercase fs-8 ls-1"
            >بخش ها</span
          >
        </div>
      </div>

      <!-- Pages -->
      <div
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
      >
        <span class="menu-link"
          ><span class="menu-icon"
            ><span
              class="svg-icon svg-icon-2"
              [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"
            ></span></span
          ><span class="menu-title">انبارداری</span
          ><span class="menu-arrow"></span
        ></span>
        <div
          class="menu-sub menu-sub-accordion"
          routerLinkActive="menu-active-bg"
        >
          <div
            class="menu-item menu-accordion"
            routerLinkActive="here show"
            data-kt-menu-trigger="click"
          >
            <span class="menu-link"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title" data-link="/crafted/pages/profile"
                >اطلاعات پایه</span
              ><span class="menu-arrow"></span
            ></span>
            <div
              class="menu-sub menu-sub-accordion"
              routerLinkActive="menu-active-bg"
            >
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/inventory"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/category"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">دسته بندی انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/unit"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">واحد سنجش</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/product"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">کالا / خدمت</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/material"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">ماده اولیه</span></a
                >
              </div>
            </div>
          </div>
          <!-- <div
            class="menu-item menu-accordion"
            routerLinkActive="here show"
            data-kt-menu-trigger="click"
          >
            <span class="menu-link"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title" data-link="/crafted/pages/wizards"
                >عملیات</span
              ><span class="menu-arrow"></span
            ></span>
            <div
              class="menu-sub menu-sub-accordion"
              routerLinkActive="menu-active-bg"
            >
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/inventory-receipt"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">رسید انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/return-inventory-receipt"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">برگشت رسید انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/inventory-exit"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">خروج انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/return-inventory-exit"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">برگشت خروج انبار</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/invoice-submit"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">تایید فاکتور</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/buy-order"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">سفارش خرید</span></a
                >
              </div>
            </div>
          </div>

          <div
            class="menu-item menu-accordion"
            routerLinkActive="here show"
            data-kt-menu-trigger="click"
          >
            <span class="menu-link"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title" data-link="/crafted/pages/wizards"
                >گزارشات</span
              ><span class="menu-arrow"></span
            ></span>
            <div
              class="menu-sub menu-sub-accordion"
              routerLinkActive="menu-active-bg"
            >
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/goods-count"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">مرور تعدادی کالا</span></a
                >
              </div>
              <div class="menu-item">
                <a
                  class="menu-link without-sub"
                  routerLinkActive="active"
                  routerLink="/inventory-management/goods-history"
                  ><span class="menu-bullet"
                    ><span class="bullet bullet-dot"></span></span
                  ><span class="menu-title">تاریخچه کالا</span></a
                >
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Menu wrapper-->
</div>
