//
// Dark Sidebar(used by Dark Sidebar layout only)
//

[data-kt-app-layout="dark-sidebar"] {
  .app-sidebar {
    background-color: $app-sidebar-dark-bg-color;
    border-right: 0 !important;

    .hover-scroll-overlay-y {
      @include scrollbar-color(
        $app-sidebar-dark-scrollbar-color,
        $app-sidebar-dark-scrollbar-color-hover
      );
    }

    .app-sidebar-logo {
      border-bottom: 1px dashed $app-sidebar-dark-separator-color;
    }

    .btn-custom {
      @include button-custom-variant(
        $color: #5e6278,
        $icon-color: #5e6278,
        $border-color: null,
        $bg-color: #f4f6fa,
        $color-active: #5e6278,
        $icon-color-active: #181c32,
        $border-color-active: null,
        $bg-color-active: #e8ebf0
      );
    }

    .menu {
      .menu-item {
        .menu-heading {
          color: $app-sidebar-dark-menu-heading-color !important;
        }

        @include menu-link-default-state(
          $title-color: #5e6278,
          $icon-color: #c5c5d8,
          $bullet-color: #787887,
          $arrow-color: #787887,
          $bg-color: null
        );

        @include menu-link-hover-state(
          $title-color: #181c32,
          $icon-color: #181c32,
          $bullet-color: #181c32,
          $arrow-color: #181c32,
          $bg-color: #f4f6fa
        );

        @include menu-link-here-state(
          $title-color: #181c32,
          $icon-color: #181c32,
          $bullet-color: #181c32,
          $arrow-color: #181c32,
          $bg-color: null
        );

        @include menu-link-show-state(
          $title-color: #181c32,
          $icon-color: #0c656a,
          $bullet-color: #181c32,
          $arrow-color: #181c32,
          $bg-color: null
        );

        @include menu-link-active-state(
          $title-color: #181c32,
          $icon-color: #181c32,
          $bullet-color: #181c32,
          $arrow-color: #181c32,
          $bg-color: $app-sidebar-dark-menu-link-bg-color-active
        );
      }
    }
  }
}
