/* You can add global styles to this file, and also import other style files */
// @import "./assets/sass/style.scss";
@import "./assets/css/style.rtl.css";

// Replace above style with this css file to enable RTL styles
@import "./assets/sass/plugins.scss";
@import "./assets/sass/style.angular.scss";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@font-face {
  font-family: "Shabnam";
  src: url("./assets/media/plugins/fonts/Shabnam/Shabnam-100.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./assets/media/plugins/fonts/Shabnam/Shabnam-300.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./assets/media/plugins/fonts/Shabnam/Shabnam-400.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./assets/media/plugins/fonts/Shabnam/Shabnam-500.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("./assets/media/plugins/fonts/Shabnam/Shabnam-700.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.ag-theme-alpine {
  font-family: Shabnam, "Open Sans", sans-serif;
  --ag-foreground-color: #000000;
  --ag-background-color: white;
  --ag-header-foreground-color: #787878;
  --ag-header-background-color: #f0f0f0;
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: #000000;
  --ag-border-color: white;
  --ag-card-radius: 10px;
  --ag-card-shadow: 0 10px 40px rgb(83, 0, 106);
  --ag-popup-shadow: var(--ag-card-shadow);
  --ag-tab-min-width: 350px;
  --ag-secondary-border-color: #e9ebf0;

  --ag-background-color: white;
  --ag-odd-row-background-color: white;
  --ag-header-background-color: #f6f6f6;

  --ag-border-color: rgba(255, 255, 255, 0);
  --ag-alpine-active-color: #3b82f6;

  .ag-menu {
    background-color: white;
    border-radius: 0.5rem;
  }

  .ag-menu-header {
    background-color: #f0f0f0;
    .ag-icon {
      color: #5e6278;
    }
  }
}

.my-component-container {
  margin: 0 2rem;
}
.ag-row .ag-cell {
  display: flex;
  align-items: center;
}
body,
body .p-component {
  font-family: Shabnam, "Open Sans", sans-serif;
}

h5 {
  color: #5e6278;
}

.disable-interactions {
  pointer-events: none;
}

// loading animation
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: #cccccc;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #cccccc;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: #cccccc;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background-color: #cccccc;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.p-confirm-popup-icon {
  margin-inline-end: 1rem;
}

.p-dialog {
  .p-button {
    gap: 0.3rem;
  }
  .p-dialog-content {
    gap: 0.5rem;
  }
}
